.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
  font-size: 20px;
}

.titulo {
  text-align: center;
  margin: 25px;
}

.main {
  border: 1px solid lightgray;
  border-radius: 3px;
  display: flex;
  width: 1050px;
  margin: auto;
}

.main .imagen {
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 3px;
  margin: 9px 25px 5px 20px;
  width: 225px;    
}

.main .caja-text {
  padding: 5px;
}

.main:hover {
  background-color: rgb(243, 242, 242);
}

#usuario {
  color: white;
}

#salir {
  border-radius: 5px;
  border: none;
}

#salir:hover {
  background-color: rgb(223, 223, 223);
}

.filtro-1 {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.filtro-2 {
  display: flex;
  justify-content: flex-end;
}

.filtro-2-2 {
  margin: 6px;
  border-radius: 5px;
  padding: 3px;
  width: 100px;
}

.btn-filter {
  border-radius: 5px;
  margin: 4px;
  border: none;
}

.btn-filter-2 {
  border-radius: 5px;
  width: 70px;
  border: none;
}

.parrafo {
  font-size: larger;
  text-align: center;
}

.btn-filter:hover {
  background-color: rgb(207, 204, 204);
}

.btn-filter-2:hover {
  background-color: rgb(207, 204, 204);
}

.checked {
  color: orange;
}

.auto-img {
  border: 1px solid lightgray;
  border-radius: 2px;
  display: block;
  margin: auto;
  width: 700px;
  margin: auto;
}

.auto-info, .auto-comm, .comm-ctrl {
  border-radius: 3px;
  display: block;
  margin: auto;
  width: 1100px;
}

.sendComm {
  border-radius: 5px;
  background-color: rgb(240, 239, 239);
  border: none;
}

.sendComm:hover {
  background-color: rgb(167, 167, 167);
  color: white;
  border: 1px solid black;
}

.dropdown-item:active {
  background-color: lightgray
}

.btn {
  line-height: 0.5;
}

.caja-main {
  display: block;
  margin: auto;
}